{% load profile_tags %}
<transition name="modal">
    <div id="div-modal-tmpl" class="modal-mask">
        <div class="modal-wrapper">
            <div class="">
                <div class="tray-menu">
                    <div class="header">
                        <div class="header__app-name">
                            <strong>Create New Post</strong> 
                        </div>
                        <div class="header__version"></div>
                    </div>
                    <form class="forms_form" action="{% url 'makePost' %}"  method="POST"  enctype="multipart/form-data">
                        {% csrf_token %}
                        <input hidden name="post_type" value="text"/>
                        <input hidden id="post_category_id" name="post_category" value=""/>
                        <div class="main">
                            <template>
                                <div class="content">
                                    <div class="content__header">
                                        <v-tabs
                                            v-model="tab"
                                            background-color="transparent"
                                            hide-slider
                                            height="40"
                                                id="c-tabs"
                                        >
                                            <v-tab
                                                v-for="item in tabs"
                                                :key="item"
                                                class="tb" 
                                            >
                                                <div class="td"><i class="material-icons" v-text="item.icon"></i><span v-text="item.text"></span></div>
                                            </v-tab>
                                        </v-tabs>
                                    </div>
                                    <v-tabs-items class="tab-content" v-model="tab">
                                        <div class="authenticated-user">
                                            <div class="authenticated-user__avatar">
                                                <img src="https://avatars2.githubusercontent.com/u/786943?v=3&s=460" alt="Casey Zumwalt" />
                                            </div>
                                            <div class="authenticated-user__name"></div>
                                            <div class="authenticated-user__meta"></div>
                                            <chip-group :tab="tab" tags="{% to_json obj=data.tabItems model=False %}" moreTags="{% to_json obj=data.moreTabItems model=False %}"></chip-group>
                                        </div>
                                        <div class="tab-content-body">
                                            <v-tab-item
                                                v-for="tab_item in tabs"
                                                :key="tab_item"
                                            >
                                                <div class="content-items">
                                                    {% for field in form %}
                                                        <div class="fieldWrapper">
                                                            {{ field.label_tag }} 
                                                            {{ field }}
                                                            <span class="focus-border"></span>
                                                            {{ field.errors }}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </v-tab-item>
                                        </div>
                                    </v-tabs-items>
                                </div>
                            </template>
                            <div class="actions">
                                <div class="action action--logout" @click="closeModal">Cancel</div>
                                <button type="submit" class="action action--sync" >Post</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</transition>