<script type="text/x-template" id="modal-tmpl">
    {% include '../base/components/modal/loginModal.html' %}
</script>
<script type="text/x-template" id="user-profile">
    {% include '../profile/components/view.html' %}
</script>
<script type="text/x-template" id="landing-body">
    {% include '../landing/landingBody.html' %}
</script>
<script type="text/x-template" id="video-card">
    {% include '../landing/components/videoCard.html' %}
</script>
<script type="text/x-template" id="video-card-comment">
    {% include '../landing/components/videoCardComment.html' %}
</script>
<script type="text/x-template" id="create-post-modal">
    {% include '../profile/components/modals/postModal.html' %}
</script>
<script type="text/x-template" id="post-comment-avatar">
    {% include '../profile/components/comments_avatar.html' %}
</script>