<div class="user_forms-login">
    <h2 class="forms_title">Login</h2>
    <form class="forms_form" action="login/"  method="POST">
        {% csrf_token %}
        <input hidden name="form_type" value="login"/>
        <fieldset class="forms_fieldset">
            <div class="forms_field">
                <input name="email" type="email" placeholder="Email" class="forms_field-input" required autofocus />
            </div>
            <div class="forms_field">
                <input name="password" type="password" placeholder="Password" class="forms_field-input" required />
            </div>
        </fieldset>
        <div class="forms_buttons">
            <button type="button" class="forms_buttons-forgot">Forgot password?</button>
            <input type="submit" value="Log In" class="forms_buttons-action">
        </div>
    </form>
</div>