<template>
    <v-row justify="space-around">
        <v-col
            cols="12"
            sm="10"
            md="12"
        >
        <div
            class="px-1"
        >
            <v-chip-group
                v-model="postCategory"
                mandatory
                active-class="primary--text"
            >
                <v-chip
                    filter
                    v-for="(tag,index) in allTags"
                    :key="index"
                    ripple
                >
                    <span v-text="tag"></span>
                </v-chip>
            </v-chip-group>
        </div>
        </v-col>
    </v-row>
</template>
                                        <div class="td active"><i class="material-icons">subject</i><span>Make Post</span></div>
                                        <div class="td"><i class="material-icons">camera_enhance</i><span>Photo/Video</span></div>
                                        <div class="td"><i class="material-icons">videocam</i><span>Live Video</span></div>
                                        <div class="td"><i class="material-icons">event</i><span>Life Event</span></div>