{% if post.comments.all.count > 0 %}
    <div class="comments-container">
        <hr/>
        <ul id="comments-list" class="comments-list">
            {% for comment in post.comments.all %}
                <li>
                    <div class="comment-main-level">
                        <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
                        <div class="comment-box">
                            <div class="comment-head">
                                <h6 class="comment-name {% if post.user.id == comment.user.id %}by-author{% endif %}"><a href="http://creaticode.com/blog">{{comment.user.user_name}}</a></h6>
                                <span>{{comment.date}}</span>
                                <i><v-icon @click="toggleReplies({{comment.id}})">mdi-reply</v-icon></i>
                                <v-icon>mdi-heart-plus-outline</v-icon>
                            </div>
                            <div class="comment-content">
                                {{comment.message}}
                                <v-expand-transition>
                                    <div v-show="expandReply == {{comment.id}}">
                                        <form class="forms_form" action="{% url 'makeCommentReply' %}"  method="POST">
                                            {% csrf_token %}
                                            <input hidden name="comment_id" value="{{comment.id}}"/>
                                            <div class="content-items">
                                                {% for field in commentReplyForm %}
                                                    <div class="fieldWrapper post-comment flex-fix mt-6">
                                                        {{ field }}
                                                        <v-btn type="submit">reply</v-btn>
                                                        <span class="focus-border focus-border-fix"></span>
                                                        {{ field.errors }}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </form>
                                    </div>
                                </v-expand-transition>
                            </div>
                        </div>
                    </div>
                    <ul class="comments-list reply-list">
                        {% for reply in comment.replies.all %}
                            <li>
                                <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg" alt=""></div>
                                <div class="comment-box">
                                    <div class="comment-head">
                                        <h6 class="comment-name {% if post.user.id == reply.user.id %}by-author{% endif %}"><a href="http://creaticode.com/blog">{{reply.user.user_name}}</a></h6>
                                        <span>{{reply.date}}</span>
                                        <v-icon>mdi-heart-plus-outline</v-icon>
                                    </div>
                                    <div class="comment-content">
                                        {{reply.message}}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}  
        </ul>
    </div>
{% else %}{% endif %}