
<v-card>
    <v-list
        nav
        dense
    >
        <v-list-item-group
            v-model="postSelectedMenuItem"
            color="primary"
        >
            <v-list-item
                v-for="(item, i) in getPostMenu"
                :key="i"
            >
                <v-list-item-icon>
                    <v-icon v-text="item.icon"></v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                    <v-list-item-title v-text="item.text"></v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list-item-group>
    </v-list>
</v-card>