<v-card
    class="mx-auto"
    style="height:100%"
>
    <v-toolbar
    height="40px"
    style="box-shadow:none"
    >
        <v-toolbar-title><span v-text="story.data.cardTitle"></span></v-toolbar-title>
    </v-toolbar>
    <v-list subheader>
        <v-subheader>
            <video-card-comment-subheader :tab="tab" :story="story"></video-card-comment-subheader>
        </v-subheader>
        <v-layout style="height:320px">
            <v-flex >
                <v-list v-bind:id="idObject.commentContainer" three-line class="overflow-y-auto" height="315">
                    <template v-for="(comment) in story.data.cardComments"> 
                    <v-list-item :key="comment.key" @click="">
                        <v-list-item-avatar>
                            <v-img :src="comment.profilePhoto"></v-img>
                        </v-list-item-avatar>
                        <v-list-item-content>
                            <v-list-item-title v-html="comment.userName"></v-list-item-title>
                            <v-list-item-subtitle v-html="comment.comment"></v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                    </template>
                </v-list>
            </v-flex>
        </v-layout>
    </v-list>
    <v-divider></v-divider>
    <v-list subheader>
        <v-subheader>Previous chats</v-subheader>

    </v-list>
</v-card>