
<div class="body">
    <div class="containerr">
        <video src="https://assets.codepen.io/2629920/gt3.mp4" class="video" :class="classObject.video" playsinline autoplay loop muted></video>
        <div class="right">

        </div>
        <div class="bottom" style="margin-bottom: 10px">
            <span class="progress-duration" :class="classObject.progressDuration"></span>
            <div class="progress-range" :class="classObject.progressRange" title="seek">
                <div class="progress-bar" :class="classObject.progressBar"></div>
            </div>
            {% comment %} <div class="icons">
                <div class="icons-item">
                    <span class="icon">
                        <img src="https://assets.codepen.io/2629920/heart.png" alt="" v-bind:id="idObject.likesIcon">
                    </span>
                    <span class="icon-label likes right-label" :class="classObject.likes" data-likes='999'>999</span>
                </div>
                <div class="icons-item">
                    <span class="icon">
                        <img src="https://assets.codepen.io/2629920/chat.png" alt=""  v-bind:id="idObject.commentIcons">
                    </span>
                    <span class="icon-label comments right-label"></span>
                </div>
                <div class="icons-item">
                    <span class="icon">
                        <img src="https://assets.codepen.io/2629920/share.png" alt="" v-bind:id="idObject.shareIcons">
                    </span>
                    <span class="icon-label shares right-label">94</span>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
</div>