<div class="tb">
    <a href="#" class="td p-p-pic"><img src="https://imagizer.imageshack.com/img923/2452/zifFKH.jpg" alt="Rajeev's profile pic"></a>
    <div class="td p-r-hdr">
        <div class="p-u-info">
            New Post <a href="#">Himalaya Singh</a>
        </div>
        <div class="p-dt">
            <i class="material-icons">calendar_today</i>
            <span>{{post.date}}</span>
        </div>
        <div class="p-u-head">
            <span>{{post.title}}</span>
        </div>
    </div>
    {% comment %} <div class="td p-opt">
        <i class="material-icons">keyboard_arrow_down</i>
    </div> {% endcomment %}
</div>
{% comment %} <div class="p-cnt-v"> {% endcomment %}
<div class="tb mb-4 fs-17">
    {{post.body}}
</div>