<template >
    <div>
        <template>
            <v-tabs
                v-model="currentTabItem"
                fixed-tabs
                slider-color="white"
            >
                <v-chip :ripple="true">
                    <v-tab
                        v-for="item in pydata.tabItems"
                        :key="item"
                        :href="'#tab_' + item"
                        active-class="tab-active"
                    >
                        <span v-text="item"></span>
                    </v-tab>
                </v-chip>
                <v-spacer></v-spacer>
                <v-breadcrumbs :items="breadcrumbs_items">
                    <template v-slot:divider>
                        <v-icon>mdi-chevron-right</v-icon>
                    </template>
                </v-breadcrumbs>
                <v-spacer></v-spacer>
                {% include './components/contentDropDown.html' %}
            </v-tabs>
        </template>
        {% include './components/bodyContent.html' %}
    </div>
</template>